/**
 * General
 */

/**
 * Steps
 */

$step-agricultural-production-color: #74604f;
$step-collection-color: #2e6bad;
$step-processing-color: #6a5796;
$step-wholesale-color: #93649b;
$step-retail-color: #b94757;
$step-export-color: #d77245;
$step-transport-color: #dcb91d;
