/**
 * General
 */


/**
 * Steps
 */

$step-agricultural-production-color: #74604F;
$step-collection-color: #2E6BAD;
$step-processing-color: #6A5796;
$step-wholesale-color: #93649B;
$step-retail-color: #B94757;
$step-export-color: #D77245;
$step-transport-color: #DCB91D;