@import './better-default.css';

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#app {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#app > * {
    width: 100%;
    padding: 1.5rem;
}

.TODO {
    min-height: 1rem;
    min-width: 1rem;
    background-color: pink;
    border: 5px dashed red;
}