.v-popper--theme-tooltip {
  font-size: 16px;

  .v-popper__inner {
    color: #6B6B6B !important;
    background: #EDEDED !important;
    max-width: 400px;
  }

  .v-popper__arrow-outer {
    border-color: #EDEDED !important;
  }
}

.v-popper--theme-dropdown {
  .v-popper__inner {
    border: none !important;
    box-shadow: 4px 4px 17px 0px #00000040 !important;
  }
}
